


/* Main styling */

:root{
    --black: #252422;
    --darkgrey: #403d39;
    --lightgrey: #ccc5b9;
    --white: #fffcf2;
    --pink: #ff5e5b;
    --blue: #00cecb;
    --purple: #7209b7;
   
}


/* Navbar */



/* Images */

/* Form */

/* Buttons */

/* Icons */

<i class="fa-brands fa-linkedin-in"></i>
<i class="fa-brands fa-twitter"></i>
<i class="fa-regular fa-blog"></i>
<i class="fa-solid fa-envelope-open-text"></i>
<i class="fa-regular fa-address-card"></i>
<i class="fa-solid fa-briefcase"></i>
<i class="fa-solid fa-message-code"></i>
<i class="fa-regular fa-mug-hot"></i>
<i class="fa-regular fa-file-pen"></i>
<i class="fa-regular fa-display-code"></i>

/* Footer */
