@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');


:root {
    background-color: black;
    margin: 0;
    color: white;
    font-family: roboto, sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    height: 100vh;

}


/* .main-container {
    display: grid;
    grid-template:
        'header header header header '
        'main main main main'
        'footer footer footer footer';
    grid-gap: 10px;
    padding: 10px;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: 200px auto 200px;
} */

.main-container {
    display: flex;
    flex-direction: column;
}

.item1 {
    grid-area: header;
    padding: 20px;
    height: 10vh;
}

.item2 {
    padding: 60px;
    text-align: center;
}


p {
    font-size: 30px;
    line-height: 1.6;

}

h2 {
    font-size: 90px;
    line-height: 0%;
    color: rgb(238, 20, 165);

}

h1 {
    font-size: 50px;
}


@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

html,
body {
    margin: 0;
    padding: 0;
}

body {
    background: rgba(0, 0, 0, .8);
    color: white;
    font-family: 'Nunito';
}

.container {
    margin-top: 3em;
    border-left: .7em solid gray;
    padding: 0 3em;
}

h1 {
    margin: 0;
}

p {
    color: #9D9D9D;
    margin: .5em 0 2em;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: .7em;
}

input[type=text],
textarea {
    margin-bottom: 1.5em;
    display: block;
    padding: .5em;
    width: 80%;
    background: gray;
    border: none;
    border-bottom: 1px solid lightgray;
    outline: 0;
    color: black;
}

input[type=text]:focus,
textarea:focus {
    border-bottom: 1px solid white;
}

input[type=submit] {
    background: gray;
    border: none;
    color: white;
    font-weight: bold;
    padding: .8em 2em;
    border-radius: 2em;
    font-size: .8em;
}

.colors {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: .5em;
}

.colors div {
    width: 2em;
    height: 2em;
    background: gray;
    border-radius: 50%;
    margin-bottom: .4em;
    margin-right: .3em;
    float: left;
    text-align: center;
    display: grid;
    place-content: center;
    border: 2px solid rgba(0, 0, 0, .3);
}

.colors div:nth-child(1) {
    background-color: #1C2022;
}

.colors div:nth-child(2) {
    background-color: #9D9D9D;
}

.colors div:nth-child(3) {
    background-color: #2B3337;
}

.colors div:nth-child(4) {
    background-color: #FF01FF;
}

.colors div:nth-child(5) {
    background-color: white;
    color: black;
}


/*
    Your fixes below!
    
    Use these colors codes: 
    (1) #1C2022
    (2) #9D9D9D
    (3) #2B3337
    (4) #FF01FF
    (5) white
*/

body {
    background: auto;
}

.container {
    border-left: auto;
}

p {
    color: auto;
}

input[type=text],
textarea {
    background: auto;
    border-bottom: auto;
}

input[type=text]:focus,
textarea:focus {
    border-bottom: auto;
}

input[type=submit] {
    background: auto;
}

/* solution 1

body {
    background: #1C2022;
}

.container {
    border-left: .7em solid #FF01FF;
}

p {
    color: #9D9D9D;
}

input[type=text],
textarea {
    background: #2B3337;
    border-bottom: 1px solid #506671;
    color: #9D9D9D;
}

input[type=text]:focus,
textarea:focus {
    border-bottom: 1px solid #FF01FF;
}

input[type=submit] {
    background: #FF01FF;
}

*/

/* 




*/



/* footer */
footer {
    bottom: 40px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    align-items: center;
    text-align: center;
    flex-direction: row;

}

/* icons */

.fa-twitter-square {
    color: rgb(238, 20, 165);
    font-size: 60px;
    padding: 10px;
}

.fa-linkedin {
    color: rgb(238, 20, 165);
    font-size: 60px;
    padding: 10px;
}


.fa-blogger {
    color: rgb(238, 20, 165);
    font-size: 60px;
    padding: 10px;
}



/* 
.fa-twitter-square {
    margin: 30px;
    font-size: 30px;
    background-color: rgb(238, 20, 165);
    padding: 20px;
    color: white;
    border-radius: 60px;

}
*/
/* Hamburger and nav bar menu */
.overlay2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
    background: black;
    z-index: -1;
}

#main-menu2 {
    display: block;
    height: 100px;
    width: 100%;
    background: black;
    margin: 0px;
    z-index: 9;
}

#main-menu2 ul {
    max-width: 800px;
    width: 100%;
    height: 100%;
    margin: 0px auto;
    padding: 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 9;
}

#main-menu2 li {
    list-style-type: none;
    font-size: 2rem;
}

#main-menu2 a {
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
}

#main-menu2 a:hover {
    text-decoration: underline;
}

#hamburger-input1 {
    display: none;
}

#hamburger-menu1 {
    position: absolute;
    top: 40px;
    right: 30px;
    width: 80px;
    height: 80px;
    display: none;
    border: none;
    padding: 0px;
    margin: 0px;
    font-family: 'Cabin', Sans-serif;
    background: linear-gradient(to bottom,
            white, white 20%,
            black 20%, black 40%,
            white 40%, white 60%,
            black 60%, black 80%,
            white 80%, white 100%);
}

#hamburger-menu1 #sidebar-menu1 {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: -250px;
    width: 200px;
    height: 100%;
    background-color: rgb(238, 20, 165);
    transition: 0.3s;
    padding: 0px 10px;
    box-sizing: border-box;
}

#hamburger-menu1 h3 {
    color: white;
    font-size: 2.2rem;
}

#hamburger-menu1 ul {
    padding-left: 0px;
}

#hamburger-menu1 li {
    list-style-type: none;
    line-height: 3rem;
}

#hamburger-menu1 a {
    color: white;
    font-size: 1.3rem;
    text-decoration: none;
}

#hamburger-menu1 a:hover {
    text-decoration: underline;
}

#hamburger-input1:checked+#hamburger-menu1 #sidebar-menu1 {
    visibility: visible;
    left: 0;
}

#hamburger-input1:checked~.overlay {
    visibility: visible;
    opacity: 0.4;
}

/* Media queries */

/* removed the navbar on mobile */


@media screen and (max-width: 540px) {
    #main-menu2 {
        display: none;
    }

    #hamburger-menu1 {
        display: inline;
    }



    @media screen and (min-width: 540px)
}