:root {

    --black: #252422;
    --darkgrey: #403d39;
    --lightgrey: #ccc5b9;
    --white: #fffcf2;
    --pink: #ff5e5b;
    --blue: #00cecb;
    --purple: #7209b7;
    font-family: 'Architects Daughter', cursive;
    border: 0;
    margin: 0;
}

    header{
        background-color: var(--black);
        color: var(--white);
    }

    body{
        background-color: var(--black);
        color: var(--white);
    }

    footer{
        background-color: var(--black);
        color: var(--white);
    }
    
    a{
        text-decoration: none;
    }